Click==7.0
coverage==4.5.3
Django==1.11.6
django-ckeditor==5.6.1
django-haystack==2.8.1
django-js-asset==1.2.2
django-redis==4.10.0
django-redis-sessions==0.5.6
itsdangerous==1.1.0
jieba==0.39
jsonpickle==1.1
Markdown==3.0.1
MarkupSafe==1.1.0
mysqlclient==1.4.2.post1
Pillow==5.4.1
PyMySQL==0.9.3
pytz==2018.9
redis==3.2.0
Werkzeug==0.14.1
Whoosh==2.7.4
